.app {
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.dark-theme {
  background-color: var(--dark-bg);
  color: var(--text-dark);
}

.light-theme {
  background-color: var(--light-bg);
  color: var(--text-light);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
}

input[type="checkbox"] {
  accent-color:  var(--checkbox);
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid  var(--checkbox);
  border-radius: 4px;
  cursor: pointer;
  background-color:  var(--light-bg);
}

input[type="checkbox"]:checked {
  background-color:  var(--checkbox);
  border: 2px solid  var(--checkbox);
}

input[type="checkbox"]:checked::before {
  content: "✔";
  color:  var(--light-bg);
  display: block;
  text-align: center;
  font-size: 16px;
  line-height: 15px;
}
.btn {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 99%;
  margin-top: 30px;
  background-color: var(--primary);
  color: var(--text-dark);
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 450;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.btn:hover {
  opacity: 0.9;
}

.btn-border {
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid var(--primary);
  padding: 9px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 450;
  transition: opacity 0.2s;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.btn-border:hover {
  opacity: 0.9;
}

.dark-theme .btn-border {
  background-color: var(--dark-bg);
  color: var(--text-dark);
}

.light-theme .btn-border {
  background-color: var(--ligth-bg);
  color: var(--text-light);
}

.light-theme .sun path {
  fill: #FFD332;
}

.light-theme .moon path {
  fill:  var(--Work);
}

.dark-theme .sun path {
  fill: var(--Work);
}

.dark-theme .moon path {
  fill: #FFD332;
}

.edit path,
.del path {
  fill: var(--primary);
}

.plus path {
  fill: var(--light-bg)
}

.back path {
  fill: var(--primary);
}
